html {
  box-sizing: border-box;
  background-color: #FFCC66;
}

*, *::after, *::before {
  box-sizing: inherit; }

.site-container {
  padding-left: 450px;
}

.site-container input{
  width: 500px;
}
